<!--
  Generated template for the AddTeamMembers page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Team Members</ion-title>
    <ion-buttons start>
      <button *ngIf="selectedTeam.length > 0" ion-button (click)="okClicked()">
        <ion-icon name="checkbox"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [autocomplete]="off" [(ngModel)]="searchTerm" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div *ngIf="selectedTeam.length > 0">
    <!--<ion-badge  color="primary"> -->
    <ion-chip *ngFor="let member of selectedTeam; let index = index" #index>
      <ion-label>
        {{member.Name}}
      </ion-label>
      <button ion-button clear color="primary" (click)="removeMember(member, index)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>
    <!--</ion-badge>-->
  </div>

  <ion-list *ngIf="showList == true">
    <ion-item *ngFor="let record of suggestionList; let index=index" (click)="itemClick(record, index)">
      {{record.Name}}
    </ion-item>
  </ion-list>
</ion-content>