$categories: (
 ionic: color($colors, primary),
 rejected: #FE4C52,
 pending: #FED035,
 approved: #69BB7B,
 not-submitted: #4285F4,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-my-timesheet {
@each $submittedstatus, $value in auxiliary-categories() {
   ion-item-sliding[submittedstatus=#{$submittedstatus}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
  .right {
      float: right;
  }
}