<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-buttons start>
      <button (click)="onFilter()" ion-button icon-only> 
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="onSort()" ion-button icon-only>
        <ion-icon name="md-repeat"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Timesheets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab right bottom [hidden]="isAuthorized == false">
    <button ion-fab mini (click)="addFabClicked()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>


  <!--Pull to refresh Start-->
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!--Pull to refresh Ends-->
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let entry of myTimeSheets" [attr.submittedstatus]="entry.SubmittedStatus | kebabCase">
      <button class="no-padding" ion-item (click)="itemClicked(entry)">
        <h3>
          <!--<span *ngFor="let approver of entry.ApproverUser; let index=index"> {{approver.Name}} 
            <span *ngIf="index < entry.ApproverUser.length-1">&nbsp;|&nbsp;</span> 
            <span *ngIf="entry.ApproverUser.length > 2" class="right">...</span> 
          </span>-->
          <span> {{entry.ApproverUser[0].Name}}</span>
          <span *ngIf="entry.ApproverUser.length > 1">&nbsp;|&nbsp; {{entry.ApproverUser[1].Name}} </span>
          <span *ngIf="entry.ApproverUser.length > 2">...</span> 
        </h3>
        <h3> 
          {{entry.StartDate | date: 'mediumDate'}} &mdash;
          {{entry.EndDate | date: 'mediumDate'}} 
        </h3>
        <p>
          Billable Hours {{entry.BillableHours}}
          <span class='right'> Non Billable Hours: {{entry.NonBillableHours}} </span>
        </p>
        <p>
          
          <!--<span *ngIf="!entry.SubmittedStatus"></span>-->
          <!---->
          <span *ngIf="entry.TimesheetSubmittedDate" >{{entry.TimesheetSubmittedDate | date: 'mediumDate'}}</span>
          <span *ngIf="!entry.TimesheetSubmittedDate" ></span>
          <span class="right black-color" *ngIf="entry.SubmittedStatus">{{entry.SubmittedStatus}}</span>
        </p>
      </button>

      <ion-item-options>
        <button ion-button (click)="editClicked(entry)">Edit</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--<ion-list #scheduleList [hidden]="(myTimeSheets )?.length === 0">
    <ion-item *ngFor="let timesheet of myTimeSheets" [attr.status]="timesheet.status | lowercase" (click)="onHolidayDetails(holiday)">
      <h3>{{timesheet.Title}}</h3>
      <p>
        {{timesheet.HolidayDate | date:'dd/MM/y'}}
      </p>
      <ion-badge item-right>{{timesheet.WeekDay}}</ion-badge>
    </ion-item>
  </ion-list>-->

  <!--<ion-list #myTimesheetList [hidden]="(myTimeSheets )?.length === 0">
    <ion-item *ngFor="let timesheet of myTimeSheets" ion-item (click)="itemClicked(timesheet)" [attr.submittedstatus]="timesheet.SubmittedStatus | lowercase">
      <h3 *ngFor="let approver of timesheet.ApproverUser"> {{approver.Name}} </h3>
      <h3>
        {{timesheet.StartDate | date: 'dd/MM/yyyy'}} &mdash; {{timesheet.EndDate | date: 'dd/MM/yyyy'}}
      </h3>
      <p>
        Billable Hours {{timesheet.BillableHours}}
      </p>
      <p>
        Non Billable Hours: {{timesheet.NonBillableHours}}
        <span class="right">{{timesheet.SubmissionDate}}</span>
      </p>
    </ion-item>
  </ion-list>-->

  <ion-list-header *ngIf ="(myTimeSheets)?.length == 0 && isDataretrived ==true">
    No Records Found
  </ion-list-header>
  <ion-list-header [hidden]="isAuthorized == true">
    You are not Authorized
  </ion-list-header>

</ion-content>