<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Timesheets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-fab right bottom>
    <button ion-fab mini (click)="addFabClicked()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>-->
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let entry of myTimeSheets" [attr.submittedstatus]="entry.SubmittedStatus | kebabCase">
      <button ion-item (click)="itemClicked(entry)">
        <h3>
          <span *ngFor="let approver of entry.ApproverUser"> {{approver.Name}} </span>
        </h3>
        <h3> 
          {{entry.StartDate | date: 'fullDate'}} &mdash;
          {{entry.EndDate | date: 'fullDate'}} 
        </h3>
        <p>
          Billable Hours {{entry.BillableHours}}
        </p>
        <p>
          Non Billable Hours: {{entry.NonBillableHours}}
          <span *ngIf="entry.TimesheetSubmittedDate" class="right">{{entry.TimesheetSubmittedDate | date: 'fullDate'}}</span>
          <span *ngIf="!entry.TimesheetSubmittedDate" class="right"></span>
        </p>
      </button>

      <ion-item-options>
        <button ion-button (click)="editClicked(item)">Edit</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--<ion-list #scheduleList [hidden]="(myTimeSheets )?.length === 0">
    <ion-item *ngFor="let timesheet of myTimeSheets" [attr.status]="timesheet.status | lowercase" (click)="onHolidayDetails(holiday)">
      <h3>{{timesheet.Title}}</h3>
      <p>
        {{timesheet.HolidayDate | date:'dd/MM/y'}}
      </p>
      <ion-badge item-right>{{timesheet.WeekDay}}</ion-badge>
    </ion-item>
  </ion-list>-->

  <!--<ion-list #myTimesheetList [hidden]="(myTimeSheets )?.length === 0">
    <ion-item *ngFor="let timesheet of myTimeSheets" ion-item (click)="itemClicked(timesheet)" [attr.submittedstatus]="timesheet.SubmittedStatus | lowercase">
      <h3 *ngFor="let approver of timesheet.ApproverUser"> {{approver.Name}} </h3>
      <h3>
        {{timesheet.StartDate | date: 'dd/MM/yyyy'}} &mdash; {{timesheet.EndDate | date: 'dd/MM/yyyy'}}
      </h3>
      <p>
        Billable Hours {{timesheet.BillableHours}}
      </p>
      <p>
        Non Billable Hours: {{timesheet.NonBillableHours}}
        <span class="right">{{timesheet.SubmissionDate}}</span>
      </p>
    </ion-item>
  </ion-list>-->

  <ion-list-header *ngIf="(myTimeSheets)?.length == 0 && isDataretrived ==true">
    No Records Found
  </ion-list-header>

</ion-content>