page-enter-timesheet-details {

     .required{
        color:red;
    }

      .empty
    {
        background-color: dodgerblue;
        height: 2px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .project-div {
    //width: 100%;
   // height: 100%;
   // overflow-y: auto;
}
.verticle-scrollable{
   
    overflow-y: auto;
}
.slides-height{
    height: auto;
}

    .right{
        float: right;
    }

    .border-padding {
        padding: 15px;
    }

    .distinction-line {
        border-bottom-color: #1E90FF;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

}
