<!--
  Generated template for the EnterTimesheetDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{dateTitle}}
      <span class="right" *ngIf="(timesheetStatus == 'Approved' || timesheetStatus == 'Submitted' || timesheetStatus == 'Rejected')">{{dailyTotalhours[selectedIndex]}} Hrs </span>
    </ion-title>
    <ion-buttons start>
      <button *ngIf="timesheetStatus !='Approved'&& timesheetStatus !='Submitted' && timesheetStatus !='Rejected'" ion-button (click)="addClicked()">
        Add
      </button>
      <button *ngIf="timesheetStatus !='Approved'&& timesheetStatus !='Submitted' && timesheetStatus !='Rejected'" ion-button (click)="saveClicked()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--Timesheet for Edit-->
  <ion-slides pager #mySlider (ionSlideDidChange)="slideChanged()" class="slides-height">

    <!-- Monday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.MondayArray  let i = index;">
          <!--<div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">-->
          <div [attr.id]="i">
            <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected') && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Mondaynbhrs) "
              name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            <!--</div>-->
            <ion-list *ngIf="timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Mondaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Mondaydescnb}}</p>
                <p>NB: {{timesheet.Mondaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive' ">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Monday')" name="selectProject">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Monday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Mondayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Mondayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Mondaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Mondaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Mondaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Mondaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Tuesday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.TuesdayArray let i = index;">
          <div [attr.id]="i">
            <div *ngIf="!(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Tuesdaynbhrs)">
              <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected') && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Tuesdaynbhrs) "
                name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            </div>
            <ion-list *ngIf="(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave') && timesheet.Tuesdaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Tuesdaydescnb}}</p>
                <p>NB: {{timesheet.Tuesdaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive'">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Project.Value" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'"></ion-input>-->
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Tuesday')" name="selectProject"
                  [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Tuesday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Tuesdayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Tuesdayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Tuesdaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Tuesdaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Tuesdaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Tuesdaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Wednesday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.WednesdayArray let i = index;">
          <div [attr.id]="i">
            <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected') && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Wednesdaynbhrs) "
              name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            <ion-list *ngIf="(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave') && timesheet.Wednesdaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Wednesdaydescnb}}</p>
                <p>NB: {{timesheet.Wednesdaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive'">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Wednesday')" name="selectProject"
                  [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Wednesday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Wednesdayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Wednesdayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Wednesdaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Wednesdaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Wednesdaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Wednesdaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Thursday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.ThursdayArray let i = index;">
          <div [attr.id]="i">
            <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected') && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Thursdaynbhrs) "
              name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            <ion-list *ngIf=" (timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave') && timesheet.Thursdaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Thursdaydescnb}}</p>
                <p>NB: {{timesheet.Thursdaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive'">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Project.Value" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'"></ion-input>-->
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Thursday')" name="selectProject"
                  [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Thursday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'|| timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Thursdayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Thursdayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Thursdaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Thursdaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Thursdaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Thursdaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Friday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.FridayArray let i = index;">
          <div [attr.id]="i">
            <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected') && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Fridaynbhrs) "
              name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            <ion-list *ngIf=" (timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave') && timesheet.Fridaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Fridaydescnb}}</p>
                <p>NB: {{timesheet.Fridaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive'">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Project.Value"[disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'"></ion-input>-->
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Friday')" name="selectProject"
                  [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Friday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Fridayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Fridayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Fridaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Fridaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Fridaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Fridaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'|| timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Saturday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.SaturdayArray let i = index;">
          <div [attr.id]="i">
            <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')  && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Saturdaynbhrs) "
              name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            <ion-list *ngIf=" (timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave') && timesheet.Saturdaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Saturdaydescnb}}</p>
                <p>NB: {{timesheet.Saturdaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive'">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Project.Value" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'"></ion-input>-->
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Saturday')" name="selectProject"
                  [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Saturday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Saturdayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Saturdayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Saturdaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'  || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Saturdaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Saturdaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Saturdaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Sunday -->
    <ion-slide class="verticle-scrollable">
      <div class="project-div">
        <div *ngFor="let timesheet of weekProjects.SundayArray let i = index;">
          <div [attr.id]="i">
            <ion-icon *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected') && timesheet.ProjectTimesheetStatus != 'Inactive' && !(timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave' && timesheet.Sundaynbhrs) "
              name="close" (click)="closeClick(i)" color="primary" class="right"></ion-icon>
            <ion-list *ngIf=" (timesheet.Project.Value == 'Holiday' || timesheet.Project.Value == 'Leave') && timesheet.Sundaynbhrs">
              <ion-item>
                <h3>{{timesheet.Project.Value}}</h3>
                <p>Desc: {{timesheet.Sundaydescnb}}</p>
                <p>NB: {{timesheet.Sundaynbhrs}}</p>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="timesheet.Project.Value != 'Holiday' &&  timesheet.Project.Value !='Leave' && timesheet.ProjectTimesheetStatus != 'Inactive'">

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Project.Value" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'"></ion-input>-->
                <ion-select [(ngModel)]="timesheet.Project.Value" (ionChange)="onProjectChange(timesheet.Project.Value,i,'Sunday')" name="selectProject"
                  [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected'">
                  <ion-option *ngFor="let project of projectList">{{project.value.Title}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Project <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Project.Value"></ion-input>
              </ion-item>

              <ion-item *ngIf="!(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-select name="selectTask" [(ngModel)]="timesheet.Task" (ionChange)="onTaskChange(timesheet.Task,i,'Sunday')" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Project.Value.length == 0">
                  <ion-option *ngFor="let phase of tasksList[i]">{{phase.label}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="(timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected')">
                <ion-label floating>Task <span class="required">*</span></ion-label>
                <ion-input disabled="true" [(ngModel)]="timesheet.Task"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Sundayhrs"></ion-input>-->
                <ion-datetime name="billable" [(ngModel)]="timesheet.Sundayhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Sundaydesc" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 || !checkSelectedProjectBillable(timesheet.Project.Value)"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Non Billable</ion-label>
                <!--<ion-input [(ngModel)]="timesheet.Sundaynbhrs"></ion-input>-->
                <ion-datetime name="nonbillable" [(ngModel)]="timesheet.Sundaynbhrs" displayFormat="HH:mm" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0 "></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="timesheet.Sundaydescnb" [disabled]="timesheetStatus =='Approved'|| timesheetStatus =='Submitted' || timesheetStatus =='Rejected' || timesheet.Task.length == 0"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Project Manager</ion-label>
                <ion-input [(ngModel)]="timesheet.ApproverUser.Value" disabled="true"></ion-input>
              </ion-item>
            </ion-list>
            <div class="empty"></div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!--Empty Timesheet-->
  <!--<ion-slides pager #mySlider (ionSlideDidChange)="slideChanged()" *ngIf="this.timesheetStatus == 'New'">
    <ion-slide >
      <div *ngFor="let timesheet of weekProjects.MondayArray">
        <ion-list>
          <ion-item>
            <ion-label floating>Project <span class="required">*</span></ion-label>
            <ion-select name="selectProject">
              <ion-option>DShofer</ion-option>
              <ion-option>Linkup</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Task <span class="required">*</span></ion-label>
            <ion-select name="selectTask">
              <ion-option>Development</ion-option>
              <ion-option>Testing</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Billable</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Details</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>Non Billable</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Details</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>Project Manager</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Date 2 </h2>
    </ion-slide>
    <ion-slide>
      <h2>Date 3 </h2>
    </ion-slide>
    <ion-slide>
      <h2>Date 5 </h2>
    </ion-slide>
    <ion-slide>
      <h2>Date 6 </h2>
    </ion-slide>
    <ion-slide>
      <h2>Date 1 </h2>
    </ion-slide>
    <ion-slide>
      <h2>Date 7 </h2>
    </ion-slide>
  </ion-slides>-->

</ion-content>