page-biometric-discrepancy-approval {
    .right {
        float: right;
    }
    .topBottomMargins {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .parent {
        height: 50px;
        width: 50px;
        // background-color: #FA464E;
        display: inline-block;
        border-radius: 25px;
        position: absolute;
        margin-top: 13px;
        margin-left: 1.5%;
    }
    .data-container {
        display: inline-block;
        margin-left: 75px;
    }
    .date {
        margin-top: 15%;
        text-align: center;
        color: white;
    }
    .month {
        margin-top: -5% !important;
        text-align: center;
        color: white;
    }
    .no-padding {
        padding-left: 0px !important;
    }
}
