<!--
  Generated template for the taskDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Task Details</ion-title>
    <!--<ion-buttons end *ngIf="navParams.data.isEnterTimesheet || !isSubmitted">
      <button clear ion-button (click)="addRecord()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end *ngIf="navParams.data.isEnterTimesheet || !isSubmitted">
      <button ion-button end (click)="submit()">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="addRecord(0)">
      <p>Monday
      </p>
      <div *ngIf="taskDetail.Mondaydesc">
        <p>Billable <span class="right">{{taskDetail.Mondayhrs}} Hours</span></p>

        <p>{{taskDetail.Mondaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Mondaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Mondaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Mondaydescnb}}</p>
      </div>
    </ion-item>
    <ion-item (click)="addRecord(1)">
      <p>Tuesday
      </p>
      <div *ngIf="taskDetail.Tuesdaydesc">
        <p>Billable <span class="right">{{taskDetail.Tuesdayhrs}} Hours</span></p>

        <p>{{taskDetail.Tuesdaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Tuedaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Tuesdaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Tuesdaydescnb}}</p>
      </div>
    </ion-item>
    <ion-item (click)="addRecord(2)">
      <p>Wednesday
      </p>
      <div *ngIf="taskDetail.Wednesdaydesc">
        <p>Billable <span class="right">{{taskDetail.Wednesdayhrs}} Hours</span></p>

        <p>{{taskDetail.Wednesdaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Wednesdaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Wednesdaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Wednesdaydescnb}}</p>
      </div>
    </ion-item>
    <ion-item (click)="addRecord(3)">
      <p>Thursday
      </p>
      <div *ngIf="taskDetail.Thursdaydesc">
        <p>Billable <span class="right">{{taskDetail.Thursdayhrs}} Hours</span></p>

        <p>{{taskDetail.Thursdaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Thursdaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Thursdaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Thursdaydescnb}}</p>
      </div>
    </ion-item>
    <ion-item (click)="addRecord(4)">
      <p>Friday
      </p>
      <div *ngIf="taskDetail.Fridaydesc">
        <p>Billable <span class="right">{{taskDetail.Fridayhrs}} Hours</span></p>

        <p>{{taskDetail.Fridaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Fridaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Fridaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Fridaydescnb}}</p>
      </div>
    </ion-item>
    <ion-item (click)="addRecord(5)">
      <p>Saturday
      </p>
      <div *ngIf="taskDetail.Saturdaydesc">
        <p>Billable <span class="right">{{taskDetail.Saturdayhrs}} Hours</span></p>

        <p>{{taskDetail.Saturdaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Saturdaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Saturdaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Saturdaydescnb}}</p>
      </div>
    </ion-item>
    <ion-item (click)="addRecord(6)">
      <p>Sunday
      </p>
      <div *ngIf="taskDetail.Sundaydesc">
        <p>Billable <span class="right">{{taskDetail.Sundayhrs}} Hours</span></p>

        <p>{{taskDetail.Sundaydesc}}</p>
      </div>
      <div *ngIf="taskDetail.Sundaydescnb">
        <p>Non Billable <span class="right">{{taskDetail.Sundaynbhrs}} Hours</span></p>

        <p>{{taskDetail.Sundaydescnb}}</p>
      </div>
    </ion-item>
  </ion-list>

</ion-content>