page-apply-for-leave {
    .text-right {
        text-align: end;
    }
    .right{
        float: right;
    }
     .validationerror
      {
        color: red;
        white-space: pre-wrap;
      }
       .required  {
      color: #e32;
      }
       .add-leave-button {
          width: 70%;
          margin-left: 15%;
          border-radius: 30px;
          font-size: 0.9em;
          border: 1px solid #fff;
          background-color: #39acdc;
      }
      .notifications-badge {
            background-color: green;
            position: absolute;
            top: -4px;
            right: -12px;
        }
        .leave-icon{
            font-size: smaller;
        }

        

}
