<!--
  Generated template for the ApplyForLeave page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Apply Leave</ion-title>
    <ion-buttons end>
       <button ion-button (click)="showLeaveDeatils()" > 
          <ion-icon name="information-circle"></ion-icon>
      </button>
      <button ion-button [disabled]="addLeaveArr.length===0"
      (click)="submitForm()">
          Submit
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item *ngIf="isValidationMessage == true">
        <p class="validationerror">{{ validationMessage }}</p>
  </ion-item>
  <ion-list>
    <ion-item>
    <ion-label fixed>Leave Type <span class="required">*</span></ion-label>
    <ion-input readonly="true" [(ngModel)]="this.model.leaveType.Type" (focus) = "getLeaveType($event)" type="text" ></ion-input>
  </ion-item>
  <ion-list *ngIf="isShowLeaveSelection == true">
    <ion-item *ngFor="let leavetype of leaves" (click)="selectLeaveType(leavetype)">
     {{ leavetype.label}}
    </ion-item>
  </ion-list>
    <!--<p ion-text [hidden]="applyLeaveForm.controls.leaveType.valid || submitted == false" color="danger" padding-left>
				Leave type is required.
	  </p> -->
    <ion-item>
      <ion-label>From<span class="required">*</span></ion-label>
      <ion-datetime name ="startdate" [(ngModel)]="model.start" placeholder="MM/DD/YYYY" (ionChange)="startChanged()" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>
     <!--<p ion-text [hidden]="applyLeaveForm.controls.start.valid || submitted == false" color="danger" padding-left>
				Start Date is required.
	      </p> -->
    <ion-item>
      <ion-label>To<span class="required">*</span></ion-label>
      <ion-datetime name ="enddate" [(ngModel)]="model.end" placeholder="MM/DD/YYYY" (ionChange)="endChanged()" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>
      <!--<p ion-text [hidden]="applyLeaveForm.controls.end.valid || submitted == false" color="danger" padding-left>
				End Date is required.
	    </p> -->
    <ion-item>
      <ion-label>Duration<span class="right">{{model.numDays}}</span></ion-label>
    </ion-item>
    
  </ion-list>

<form [formGroup]="applyLeaveForm">
   <div >
  <ion-item>
        <ion-label floating>Comments<span class="required">*</span></ion-label>
        <ion-textarea name ="reason" [(ngModel)]="comment" formControlName="reason" spellcheck="false" autocapitalize="off" (input)="textChanged($event)" ></ion-textarea>
  </ion-item>

    <p ion-text [hidden]="applyLeaveForm.controls.reason.valid || submitted == false" color="danger" padding-left>
				Reason is required.
	     </p> 
   </div>
 
</form>

<button ion-button class="add-leave-button"  [disabled]="!isCommentValid  || this.isValidationMessage || this.itsWeekend" (click)="onAddLeave()"> Add Leaves </button>
<ion-list *ngIf="addLeaveArr.length>0">
  <ion-item >
    Added Leaves
  </ion-item>
         <ion-item ion-item  *ngFor="let leave of addLeaveArr">
          <h3>{{leave.LeaveType.Value}}</h3>
          <p>
            {{leave.StartDate | date:"MM/dd/yyyy"}} &mdash;
            {{leave.EndDate | date:"MM/dd/yyyy"}}
            
          </p>
          <p>
            {{leave.Reason}}
          </p>
          
          <ion-badge item-right>{{leave.NumberOfLeaves | number : '1.1-3' }}</ion-badge>
          <ion-icon name="close" item-right (click)="cancelLeave(leave)"></ion-icon>
        </ion-item>
</ion-list>
</ion-content>