<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-toolbar>
      <ion-title *ngIf="isSearchShow == false">
        <img src="assets/img/elogo.png" class="Logo">
      </ion-title>
      <!--<ion-searchbar *ngIf="isSearchShow == true" (ionInput)="getItems($event)"
    (ionClear)="onClear($event)"
    (ionCancel)="onCancel($event)"
     showCancelButton="true" animated = "true">
    </ion-searchbar>
    <ion-buttons *ngIf="isSearchShow == false" end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->
    </ion-toolbar>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of filters">
      {{ item }}
    </ion-item>
  </ion-list>

  <ion-item (click)="gotoMyLeaves()">
    <ion-avatar item-left class="homeIcons">
      <ion-icon name="calendar"></ion-icon>
    </ion-avatar>
    <h2>My Leaves</h2>
    <p> Balance - 0, Pending - 0 </p>
  </ion-item>
   <ion-item (click)="gotoMyTimesheet()">
    <ion-avatar item-left class="homeIcons">
      <ion-icon name="clock"></ion-icon>
    </ion-avatar>
    <h2>My Timesheet</h2>
    <p> Approved- 0, Pending - 0 </p>
  </ion-item>
  <!--<ion-grid>
    <ion-row>
      <ion-col width=50 class="col-padding">
        <div class="my-timesheet-card">
          <p class="card-center-text white-text"> My Timesheets </p>
          <p class="center-text white-text"> Pending - 0 </p>
          <p class="center-text white-text"> Submitted - 0 </p>
          <p class="center-text white-text"> Not Submitted - 0 </p>
        </div>
      </ion-col>
      <ion-col width=50 class="col-padding">
        <div class="my-leaves-card">
          <p class="card-center-text white-text"> My Leaves </p>
          <p class="center-text white-text"> 7.45 </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-card>
    <ion-card-header>
      My Timesheets
    </ion-card-header>
    <ion-card-content>
      <canvas #pieMyTimesheetCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <!--<ion-slides class="slide-height" pager>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          My Timesheets
        </ion-card-header>
        <ion-card-content>
          <canvas #pieMyTimesheetCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Team Timesheets
        </ion-card-header>
        <ion-card-content>
          <canvas #pieTeamTimesheetCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>-->

</ion-content>