page-education {
    .push-text-right {
        text-align: right;
    }
    .docs-approved {
        color: seagreen;
    }
    .docs-pending {
        color: red;
    }
    .gap-left {
        margin-left : 10px;
    }
    .close-button {
        padding: 0px;
        margin-right: 15px;
        display: inline-block !important;
    }
    .details {
            ion-col {
            padding: 0px;
        }
    }
}
