<ion-menu (ionOpen)="getPendingApprovalCount()"[content]="content" [hidden]="isAuthenticated == false">
  <!--<ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-content class="card-background-page">
    <ion-item class="menuHeader" menuClose>
      <ion-avatar item-left>
        <img alt="Profile Pic" [src]="profileImageSrc">
      </ion-avatar>
      <h2> {{userName}} </h2>
      <p> {{designation}} • {{empID}} </p>
    </ion-item>
    <ion-list >
      <button menuClose class="customMenu" ion-item [class.activeHighlight]="checkActive(p)" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left class="customMenuIcons" [name]="p.icon"></ion-icon>
        {{p.title}}
        <ion-badge *ngIf = "pendingCount > 0 && p.title=='Approvals'" item-right>{{pendingCount}}</ion-badge>
        <ion-badge *ngIf = "approvedLeaveCount > 0 && p.title=='My Calender'" item-right>{{approvedLeaveCount}}</ion-badge>
        <ion-badge *ngIf = "myTimesheetCount > 0 && p.title=='Timesheets'" item-right>{{myTimesheetCount}}</ion-badge>
      </button>
      <button class="customMenu" menuClose ion-item (click)="openLinkupWebsite()">
        <ion-icon item-left class="customMenuIcons" name="md-globe"></ion-icon>
        Linkup Web
      </button>
      <button class="customMenu" menuClose ion-item (click)="onLogout()">
        <ion-icon  class="customMenuIcons" item-left name="md-exit"></ion-icon>
        Logout
      </button>
    </ion-list>
    <ion-list>
      <!--<ion-list-header (click)="toggleLeaveMenu()" [ngStyle]="{'height': 36}">
        <ion-icon *ngIf="showLeaveSubmenus == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf="showLeaveSubmenus == true" name="arrow-dropleft" item-right></ion-icon>
        <h2 style="display: inline-block;">Leave Management</h2>
      </ion-list-header>
      <ion-item class="animated fadeInUp" ion-item menuClose *ngFor="let leavePage of leavePages" (click)="openPage(leavePage)">
        <ion-icon item-left [name]="leavePage.icon" [class.activeHighlight]="checkActive(leavePage)"></ion-icon>
        {{leavePage.title}}
      </ion-item>

      <ion-list-header (click)="toggleTimesheetMenu()" [ngStyle]="{'height': 36}">
        <ion-icon *ngIf="showTimesheetSubmenus == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf="showTimesheetSubmenus == true" name="arrow-dropleft" item-right></ion-icon>
        <h2 style="display: inline-block;">Timesheet</h2>
      </ion-list-header>
      <ion-item class="animated fadeInUp" ion-item menuClose *ngFor="let timesheetPage of timesheetPages" (click)="openPage(timesheetPage)">
        <ion-icon item-left [name]="timesheetPage.icon" [class.activeHighlight]="checkActive(timesheetPage)"></ion-icon>
        {{timesheetPage.title}}
      </ion-item>

      <ion-list-header (click)="toggleCorporateMenu()" [ngStyle]="{'height': 36}">
        <ion-icon *ngIf="showCorporateSubmenus == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf="showCorporateSubmenus == true" name="arrow-dropleft" item-right></ion-icon>
        <h2 style="display: inline-block;">Corporate</h2>
      </ion-list-header>
      <ion-item class="animated fadeInUp" ion-item menuClose *ngFor="let corporatePage of corporatePages" (click)="openPage(corporatePage)">
        <ion-icon item-left [name]="corporatePage.icon" [class.activeHighlight]="checkActive(corporatePage)"></ion-icon>
        {{corporatePage.title}}
      </ion-item>

      <ion-list-header (click)="toggleCertificationMenu()" [ngStyle]="{'height': 36}">
        <ion-icon *ngIf="showCertificationSubmenus == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf="showCertificationSubmenus == true" name="arrow-dropleft" item-right></ion-icon>
        <h2 style="display: inline-block;">Certification</h2>
      </ion-list-header>
      <ion-item class="animated fadeInUp" ion-item menuClose *ngFor="let certificationPage of certificationPages" (click)="openPage(certificationPage)">
        <ion-icon item-left [name]="certificationPage.icon" [class.activeHighlight]="checkActive(certificationPage)"></ion-icon>
        {{certificationPage.title}}
      </ion-item>

      <ion-list-header (click)="toggleProjectsMenu()" [ngStyle]="{'height': 36}">
        <ion-icon *ngIf="showProjectsSubmenus == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf="showProjectsSubmenus == true" name="arrow-dropleft" item-right></ion-icon>
        <h2 style="display: inline-block;">Projects</h2>
      </ion-list-header>
      <ion-item class="animated fadeInUp" ion-item menuClose *ngFor="let projectsPage of projectsPages" (click)="openPage(projectsPage)">
        <ion-icon item-left [name]="projectsPage.icon" [class.activeHighlight]="checkActive(projectsPage)"></ion-icon>
        {{projectsPage.title}}
      </ion-item>-->
    </ion-list>
  </ion-content>

  <!--<ion-footer>
    <ion-title>
      <button menuClose ion-item (click)="onLogout()">
        <ion-icon  class="customMenuIcons" item-left name="md-exit"></ion-icon>
        Logout
      </button>
    </ion-title>
  </ion-footer>-->

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>