// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "node_modules/fullcalendar/dist/fullcalendar";
@import "node_modules/primeng/resources/primeng";
@import "node_modules/primeng/resources/themes/omega/theme.scss";

.activeHighlight {
    background-color: map-get($colors, light );
}

    .masters {
    // background: url('../assets/images/background.png') no-repeat;
    background-color: #3E3D51;
    background-size: cover;
    background-position: center; 
    height: 120px;
    margin: auto; 
    z-index: 2; 
}
.submenulist{
    padding-left: 90px;
    height:32px;
}
.barcolor{
    color: #3D3E51;
}

ion-item:hover {
background-color: lightslategray !important;
}
.logouticon{
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    margin-top: 6px !important;
}
.avtaricon{
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    margin-top: 6px !important;
}
.selected
{
    background-color:lightslategray !important;
}

.logoutlabel
{

}

.margintop
{
    margin-top: 15px;
    margin-left: 5px;
}

    .profilephoto {
         img {
                height: 50px !important;
                width: 50px !important;
                margin-top: 10px;
                margin-left: 10px;
                border-radius: 40px !important;
             }
            }

      .centertext{
          text-align: left;
          color:whitesmoke;
      }

      .headertext{
       font: bold;
       font-size: 44;
       color: black;
      }

      .images-parent{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  max-height: 100px ;
      }

      .notification-button {    
            margin-left: -15px;
            position: relative;
            width: 54px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   .notifications-badge {
            background-color: red;
            position: absolute;
            top: 0px;
            right: 6px;
            border-radius: 100%;
        }

.left-image{
  float:left;
   position: relative;
   overflow: visible!important;
  max-width: 24px !important;
  max-height: 24px !important;
}

.center-image{
  margin:0 auto;
  max-width: 24px !important;
  max-height: 24px !important;
}

.right-image{
  float:right;
  max-width: 24px !important;
  max-height: 24px !important;
  
} 