// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "node_modules/fullcalendar/dist/fullcalendar";
@import "node_modules/primeng/resources/primeng";
@import "node_modules/primeng/resources/themes/omega/theme.scss";

.fc .fc-toolbar .fc-prev-button .ui-icon-circle-triangle-w:before {
  background-image: url('../assets/img/left.png') !important;
  content: '';
  width:15px;
  height: 15px;
  display: inline-block;
}

.ui-icon .ui-icon-circle-triangle-e {
    background-image: url(assets/img/right.png) !important;
    background-position: 0px 0px !important;
}

.fc .fc-toolbar .fc-next-button .ui-icon-circle-triangle-e:before {
  background-image: url('../assets/img/right.png') !important;
  content: '';
  width:15px;
  height: 15px;
  display: inline-block;
}

.activeHighlight {
    background-color: map-get($colors, activeMenu ) !important;
}

h3 {
  margin-top: -0.1rem !important;
}

.card-background-page {
  background: color($colors, sideMenuBackground, base);
  
  ion-avatar img {
    width: 50px;
    height: 50px;
  }

  .item-inner {
    border-bottom: 0 !important;
  }
  
  .menuHeader {
      background: map-get($colors, primary);
      color: map-get($colors, light);
      padding-bottom: 20px;
  }

  .customMenu {
    background: color($colors, sideMenuBackground, base);
    color: color($colors, sideMenuText, base);
  }

  .customMenuIcons {
    color: map-get($colors, primary);
  }
}  