page-enter-timesheet {
    .right {
        button {
            float: right;
        }
    }
    .right-align {
        float: right;
    }
    .left-align {
        float: left;
    }
    .center-align {
        text-align: center;
        // display: inline-block;
    }

}
