<!--
  Generated template for the EnterTimesheet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enter Timesheet</ion-title>
    <ion-buttons start>
      <button ion-button (click)="saveTimsheet()" *ngIf="timesheetStatus !='Approved' && timesheetStatus !='Submitted' && timesheetStatus !='Rejected'">
        Save
      </button>
      <button ion-button (click)="onSendForApproval()" [disabled]="totalhours.TotalhrsTimesheet<40 " *ngIf="timesheetStatus !='Approved' && timesheetStatus !='Submitted' && timesheetStatus !='Rejected'">
        Submit
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-col width-10>
      <button ion-button clear class="left-align" (click)="lastWeekClick()"><ion-icon name="arrow-back" class="left-align"></ion-icon></button>
    </ion-col>
    <ion-col width-80>
      <ion-label class="center-align">{{showWeekStart | date:'d MMM y'}} - {{showWeekEnd | date:'d MMM y'}}</ion-label>
    </ion-col>
    <ion-col width-10>
      <button ion-button clear class="right-align" (click)="nextWeekClick()"><ion-icon name="arrow-forward" class="right-align"></ion-icon></button>
    </ion-col>
  </ion-row>


  <!--<ion-list *ngIf="timesheetStatus == 'New'">
    <ion-item *ngFor="let timesheet of timesheetList" >
      <p>{{timesheet.date| date:'d'}}<span class="hours">{{timesheet.hours}}</span></p>
      <p>{{timesheet.date| date:'MMM'}}</p>
      <div class="empty"></div>
    </ion-item>
  </ion-list>-->
  <ion-row *ngIf="isDataretrived == true">
    <ion-label class="center-align">
      <span class="left-align left-padding">Status: {{timesheetStatus}} </span>
      <span class="right-align right-padding">Total: {{totalhours.TotalhrsTimesheet}} Hrs</span>
    </ion-label>
  </ion-row>
  <ion-list *ngIf="isDataretrived == true">
    <ion-item (click)="timesheetClicked(0)">
      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{weekStartDate | date:'d'}}</p>
          <p class="text-mid">{{weekStartDate | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.MondayArray.length==0" width-80>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.MondayArray.length>0">
          <ion-row class="project-div">

            <ion-col *ngFor="let timesheet of weekProjects.MondayArray" width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Mondayhrs || timesheet.Mondaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Mondayhrs || timesheet.Mondaynbhrs">B:{{timesheet.Mondayhrs}} &nbsp;<span>NB:{{timesheet.Mondaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Mondayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Mondaynbhrs"></div>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsMonday}}</p>
          <ion-icon *ngIf="weekProjects.MondayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="timesheetClicked(1)">

      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{getDate(1) | date:'d'}}</p>
          <p class="text-mid">{{getDate(1) | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.TuesdayArray.length==0" width-80>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.TuesdayArray.length>0">
          <ion-row class="project-div">
            <ion-col *ngFor="let timesheet of weekProjects.TuesdayArray"  width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Tuesdayhrs || timesheet.Tuesdaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Tuesdayhrs || timesheet.Tuesdaynbhrs">B:{{timesheet.Tuesdayhrs}} &nbsp;<span>NB:{{timesheet.Tuesdaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Tuesdayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Tuesdaynbhrs"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsTuesday}}</p>
          <ion-icon *ngIf="weekProjects.TuesdayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="timesheetClicked(2)">
      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{getDate(2) | date:'d'}}</p>
          <p class="text-mid">{{getDate(2) | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.WednesdayArray.length==0" width-80>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.WednesdayArray.length>0">
          <ion-row class="project-div">

            <ion-col *ngFor="let timesheet of weekProjects.WednesdayArray"  width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Wednesdayhrs || timesheet.Wednesdaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Wednesdayhrs || timesheet.Wednesdaynbhrs">B:{{timesheet.Wednesdayhrs}} &nbsp;<span>NB:{{timesheet.Wednesdaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Wednesdayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Wednesdaynbhrs"></div>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsWednesday}}</p>
          <ion-icon *ngIf="weekProjects.WednesdayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="timesheetClicked(3)">
      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{getDate(3) | date:'d'}}</p>
          <p class="text-mid">{{getDate(3) | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.ThursdayArray.length==0" width-80>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.ThursdayArray.length>0">
          <ion-row class="project-div">

            <ion-col *ngFor="let timesheet of weekProjects.ThursdayArray"  width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Thursdayhrs || timesheet.Thursdaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Thursdayhrs || timesheet.Thursdaynbhrs">B:{{timesheet.Thursdayhrs}} &nbsp;<span>NB:{{timesheet.Thursdaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Thursdayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Thursdaynbhrs"></div>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsThursday}}</p>
          <ion-icon *ngIf="weekProjects.ThursdayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="timesheetClicked(4)">
      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{getDate(4) | date:'d'}}</p>
          <p class="text-mid">{{getDate(4) | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.FridayArray.length==0" width-80>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.FridayArray.length>0">
          <ion-row class="project-div">

            <ion-col *ngFor="let timesheet of weekProjects.FridayArray"  width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Fridayhrs || timesheet.Fridaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Fridayhrs || timesheet.Fridaynbhrs">B:{{timesheet.Fridayhrs}} &nbsp;<span>NB:{{timesheet.Fridaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Fridayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Fridaynbhrs"></div>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsFriday}}</p>
          <ion-icon *ngIf="weekProjects.FridayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="timesheetClicked(5)">
      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{getDate(5) | date:'d'}}</p>
          <p class="text-mid">{{getDate(5) | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.SaturdayArray.length==0" width-80>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.SaturdayArray.length>0">
          <ion-row class="project-div">

            <ion-col *ngFor="let timesheet of weekProjects.SaturdayArray"  width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Saturdayhrs || timesheet.Saturdaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Saturdayhrs || timesheet.Saturdaynbhrs">B:{{timesheet.Saturdayhrs}} &nbsp;<span>NB:{{timesheet.Saturdaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Saturdayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Saturdaynbhrs"></div>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsSaturday}}</p>
          <ion-icon *ngIf="weekProjects.SaturdayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="timesheetClicked(6)">
      <ion-row>
        <ion-col width-10>
          <p class="text-mid">{{weekEndDate | date:'d'}}</p>
          <p class="text-mid">{{weekEndDate | date:'EEE'}}</p>
        </ion-col>
        <ion-col *ngIf="weekProjects.SundayArray.length==0" width-76>
          <br>
          <br>
          <div class="empty"></div>
        </ion-col>
        <ion-col width-75 *ngIf="weekProjects.SundayArray.length>0">
          <ion-row class="project-div">

            <ion-col *ngFor="let timesheet of weekProjects.SundayArray"  width-45>
              <div *ngIf="timesheet.ProjectTimesheetStatus != 'Inactive'">
                <h3 class="project-text" *ngIf="timesheet.Sundayhrs || timesheet.Sundaynbhrs">{{timesheet.Project.Value}}</h3>
                <p *ngIf="timesheet.Sundayhrs || timesheet.Sundaynbhrs">B:{{timesheet.Sundayhrs}} &nbsp; <span>   NB:{{timesheet.Sundaynbhrs}}</span></p>
                <div class="billable" *ngIf="timesheet.Sundayhrs"></div>
                <div class="nonbillable" *ngIf="timesheet.Sundaynbhrs"></div>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col width-15>
          <p>{{totalhours.TotalhrsSunday}}</p>
          <ion-icon *ngIf="weekProjects.SundayArray.length > 2" name="swap"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>






  <!--<ion-card *ngFor="let timesheet of timesheetList; let i = index" (click)="cardClick(i)">

    <ion-row>
      <ion-col width-90></ion-col>
      <ion-col width-10>
        <button ion-button clear (click)="closeClicked(i)"><ion-icon name="close"></ion-icon></button>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Project</ion-label>
      <ion-select [(ngModel)]="timesheet.Project" (ionChange)="projectChanged(timesheet.Project, i)">
        <ion-option *ngFor="let proj of projectList" [value]="proj">{{proj.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Task</ion-label>
      <ion-select [(ngModel)]="timesheet.Task" (ionChange)="phaseChanged(timesheet.Task, i)">
        <ion-option *ngFor="let phse of tasksList[i]" [value]="phse">{{phse.label}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-card>

  <button full ion-button (click)="addProjectClicked()">Add Project</button>

  <ion-item>
    <ion-row>
      <ion-col width-45>
        <button full ion-button (click)="saveTimesheetClicked()">Save Timesheet</button>
      </ion-col>
      <ion-col width-45>
        <button full ion-button (click)="submitTimesheetClicked()">Submit Timesheet</button>
      </ion-col>
    </ion-row>
  </ion-item>-->

</ion-content>