page-enter-timesheet {
    .right {
        button {
            float: right;
        }
    }
    .right-align {
        float: right;
    }
    .left-align {
        float: left;
    }
    .center-align {
        text-align: center;
        // display: inline-block;
    }
    .hours{
        float:right;
        font-size: larger;
    }
    .empty
    {
        background-color: dodgerblue;
        height: 2px;
        padding-left: 30px;
        padding-right: 30px;
    }

}
