page-enter-timesheet {
    .right {
        button {
            float: right;
        }
    }
    .right-align {
        float: right;
    }
    .left-align {
        float: left;
    }
    .center-align {
        text-align: center;
        // display: inline-block;
    }
    .hours{
        float:right;
        font-size: larger;
    }
    .empty
    {
        background-color: dodgerblue;
        height: 1px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .billable
    {
        background-color:green;
        height: 1px;
        padding-left: 30px;
        padding-right: 30px;
    }
     .nonbillable
    {
        background-color:red;
        height: 1px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .project-text
    {
        white-space: normal;
    }
    .project-div {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
    .text-mid {
        text-align: center !important;
    }

}
