$categories: (
 ionic: color($colors, primary),
 fixed: #FE4C52,
 floating: #FED035,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}


page-holidays {

@each $holidaytype, $value in auxiliary-categories() {
ion-item[holidaytype=#{$holidaytype}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }

}
