<!--
  Generated template for the LeaveApproval page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button  ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     
    <!--<ion-title>Approve Leaves</ion-title>-->
    <!--<ion-buttons start>
      <button (click)="onFilter()" ion-button icon-only> 
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="onSort()" ion-button icon-only>
        <ion-icon name="md-repeat"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-toolbar>
    <ion-buttons start *ngIf="isBulkApprovePermission == false">
    <button ion-button *ngIf= "isshowApproveRejectItems == true">
       <!--<ion-icon name="arrow-round-back"></ion-icon>-->
       {{selectedEmployees.length}}
    </button>
    </ion-buttons>
    <ion-title *ngIf="isshowApproveRejectItems == false">
      Approve Leaves
    </ion-title>
    
     <ion-buttons end >
      <!--<button ion-button *ngIf= "editMode == false" (click)="editleaves()">
        <ion-icon name="logo-buffer"></ion-icon>
      </button>-->
        <button *ngIf="isshowApproveRejectItems == true" ion-button (click)="selectAllLeaves()" icon-only>
        <ion-icon name="checkbox"></ion-icon>
      </button>
      <button *ngIf="isshowApproveRejectItems == true"ion-button [disabled] = "leavechecked == false" (click)="approveBulkLeave()" icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
       <!--<button *ngIf="isshowApproveRejectItems == true" ion-button [disabled] = "leavechecked == false" (click)="rejectBulkLeave()">
       <ion-icon name="close"></ion-icon>
      </button>-->
    
    </ion-buttons>
    </ion-toolbar>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!--All Leave list -->
  <ion-list *ngIf="editMode == false">
    <ion-item *ngFor="let leave of leaveList"  ion-item (click)="itemTapped(leave)" [attr.status]="leave.Status | lowercase">
      <h3>{{leave.Employee.Name}}</h3>
      <h3>
        {{leave.StartDate | date:"MM/dd/yyyy" }} &mdash; {{leave.EndDate | date:"MM/dd/yyyy" }}
      </h3>
      <p>
        No of Leaves: {{leave.NumberOfLeaves | number : '1.1-3'}}
        <span class="right">{{leave.Status}}</span>
      </p>
      <ion-icon *ngIf="leave.Status == 'Pending' " name="more" item-right (click)="presentActionSheet(leave , leave.LeaveRequestMasterId)"></ion-icon>
    </ion-item>
  </ion-list>

  <!--Lazy loading Begin-->
  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..." threshold="5%">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
  <!--Lazy loading end-->
  <!--Pending Leaves List-->
  <ion-list *ngIf="editMode == true">
    <ion-item [ngStyle]="{'background-color': leave.selectionColor}" *ngFor="let leave of leavesArray" ion-item (click)="itemTapped(leave)" (press)="longPressedItem(leave)"[attr.status]="leave.Status | lowercase">
      <h3>{{leave.Employee.Name}}</h3>
      <h3>
        {{leave.StartDate | date:"MM/dd/yyyy" }} &mdash; {{leave.EndDate | date:"MM/dd/yyyy" }}
      </h3>
      <p>
        No of Leaves: {{leave.NumberOfLeaves | number : '1.1-3'}}
        <span class="right">{{leave.Status}}</span>
      </p>
      <ion-icon *ngIf="leave.Status == 'Pending' " name="more" item-right (click)="presentActionSheet(leave , leave.LeaveRequestMasterId)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list-header *ngIf ="(leavesArray)?.length == 0 && isDataretrived ==true">
    No Records Found
  </ion-list-header>

   <ion-list-header [hidden]="isAuthorized == true">
    You are not Authorized
  </ion-list-header>


</ion-content>