<!--
  Generated template for the ApproveTimesheet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-buttons start>
      <button (click)="onFilter()" ion-button icon-only> 
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="onSort()" ion-button icon-only>
        <ion-icon name="md-repeat"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-toolbar>
      <ion-buttons start *ngIf="isBulkApprovePermission == false">
        <button ion-button *ngIf="editMode == true" (click)="editTimesheet()">
       <ion-icon name="arrow-round-back"></ion-icon>
       {{selectedEmployees.length}}
    </button>
      </ion-buttons>
      <ion-title *ngIf="isshowApproveRejectItems == false">
        Approve Timesheets
      </ion-title>

      <ion-buttons end *ngIf="isBulkApprovePermission == false">
        <button ion-button *ngIf="editMode == false" (click)="editTimesheet()">
        <ion-icon name="logo-buffer"></ion-icon>
      </button>
        <button *ngIf="isshowApproveRejectItems == true" ion-button (click)="selectAllTimesheet()">
        <ion-icon name="checkbox"></ion-icon>
      </button>
        <button *ngIf="isshowApproveRejectItems == true" ion-button [disabled]="timesheetchecked == false" (click)="approveBulkTimesheet()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
        <button *ngIf="isshowApproveRejectItems == true" ion-button [disabled]="timesheetchecked == false" (click)="rejectBulkTimesheet()">
       <ion-icon name="close"></ion-icon>
      </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--All Timsheet List -->
  <!--<ion-list >
      <ion-item *ngFor="let entry of approveEmployee" ion-item (click)="itemTapped(entry)">
        <h3><span *ngFor="let approver of entry.ApproverUser">{{entry.Employee.Name}}</span></h3>
        <h3> 
          {{entry.StartDate | date: 'dd/MM/yyyy'}} &mdash;
          {{entry.EndDate | date: 'dd/MM/yyyy'}} 
        </h3>
        <p>
          Billable Hours {{entry.BillableHours}}
        </p>
        <p>
          Non Billable Hours: {{entry.NonBillableHours}}
          <span class="right">{{entry.SubmissionDate}}</span>
        </p>
      </ion-item>

  </ion-list>-->

  <!--Pending Timesheet List -->

  <ion-list *ngIf="editMode == true">
    <ion-item *ngFor="let entry of pendingtimesheetsArray" ion-item (click)="itemTapped(entry)">
      <h3><span *ngFor="let approver of entry.ApproverUser">{{entry.Employee.Name}}</span></h3>
      <h3>
        {{entry.StartDate | date: 'dd/MM/yyyy'}} &mdash; {{entry.EndDate | date: 'dd/MM/yyyy'}}
      </h3>
      <p>
        Billable Hours: {{entry.BillableHours}}
      </p>
      <p>
        Non Billable Hours: {{entry.NonBillableHours}}
        <span class="right">{{entry.SubmissionDate}}</span>
      </p>
    </ion-item>

  </ion-list>

  <ion-list-header [hidden]="(approveEmployee)?.length > 0">
    No Records Found
  </ion-list-header>

</ion-content>