<!--
  Generated template for the ApproveTimesheet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <!--<ion-buttons start>
      <button (click)="onFilter()" ion-button icon-only> 
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="onSort()" ion-button icon-only>
        <ion-icon name="md-repeat"></ion-icon>
      </button>

    </ion-buttons> -->
    <!--<ion-toolbar>-->
    <ion-buttons start *ngIf="isBulkApprovePermission == false">
      <button ion-button *ngIf="isshowApproveRejectItems == true">
       {{selectedEmployees.length}}
    </button>
      <button *ngIf="isshowApproveRejectItems == true" ion-button (click)="selectAllLeaves()" icon-only>
        <ion-icon name="checkbox"></ion-icon>
      </button>
      <button *ngIf="isshowApproveRejectItems == true" ion-button [disabled]="leavechecked == false" (click)="approveBulkTimesheet()"
        icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="isshowApproveRejectItems == false">
      Approve Timesheets
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--All Timsheet List -->
  <!--<ion-list >
      <ion-item *ngFor="let entry of approveEmployee" ion-item (click)="itemTapped(entry)">
        <h3><span *ngFor="let approver of entry.ApproverUser">{{entry.Employee.Name}}</span></h3>
        <h3> 
          {{entry.StartDate | date: 'dd/MM/yyyy'}} &mdash;
          {{entry.EndDate | date: 'dd/MM/yyyy'}} 
        </h3>
        <p>
          Billable Hours {{entry.BillableHours}}
        </p>
        <p>
          Non Billable Hours: {{entry.NonBillableHours}}
          <span class="right">{{entry.SubmissionDate}}</span>
        </p>
      </ion-item>

  </ion-list>-->

  <!--Pending Timesheet List -->


  <ion-list>
    <ion-item [ngStyle]="{'background-color': entry.selectionColor}" *ngFor="let entry of pendingtimesheetsArray" ion-item (click)="itemTapped(entry)"
      (press)="longPressedItem(entry)" [attr.submittedstatus]="entry.SubmittedStatus | lowercase">
      <h3><span *ngFor="let approver of entry.ApproverUser">{{entry.Employee.Name}}</span></h3>
      <h3>
        {{entry.StartDate | date: 'dd/MM/yyyy'}} &mdash; {{entry.EndDate | date: 'dd/MM/yyyy'}}
      </h3>
      <p>
        Billable Hours: {{entry.BillableHours}}
      </p>
      <p>
        Non Billable Hours: {{entry.NonBillableHours}}
        <span class="right">{{entry.SubmissionDate}}</span>
      </p>
      <!--<ion-icon *ngIf="entry.SubmittedStatus == 'Submitted' " name="more" item-right (click)="presentActionSheet(entry)"></ion-icon>-->
    </ion-item>
  </ion-list>

  <ion-list-header *ngIf="(pendingtimesheetsArray)?.length == 0 && isDataretrived ==true">
    No Records Found
  </ion-list-header>

  <ion-list-header [hidden]="isAuthorized == true">
    You are not Authorized
  </ion-list-header>

</ion-content>