$categories: (
 ionic: color($colors, primary),
 rejected: #FE4C52,
 submitted: #FED035,
 approved: #69BB7B,
 cancelled: #000000,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-approve-timesheet {

     @each $submittedstatus, $value in auxiliary-categories() {
   ion-item[submittedstatus=#{$submittedstatus}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }

  .right {
      float: right;
  }

  .no-padding {
    padding-left: 0px !important;
  }
}
